<!DOCTYPE html>
<html>
    <head>
        <h1>Buster's Best Bowling Alley</h1>
    </head>
    <body>
    <h2>Bet You Can't Bowl A Strike Every Time</h2>
    <p>97 Bowling Alley Lane, Boulder CO </p>

        <h3>Main Menu</h3>
        <h4>Regular Hours</h4>
        <p>Tuesday 12:00pm-9:00pm</p>
        <p>Wednesday 12:00pm-9:00pm</p>
        <p>Thursday 12:00pm-9:00pm</p>
        <p>Friday 12:00pm-12:00am</p>
        <p>Saturday 12:00pm-12:00am</p>
        <p>Sunday 12:00pm-7:00pm</p>
        <h4>Tournament Dates</h4>
        <h4>Bar Menu</h4>
        <h4>Reserve a Lane!<h4>
    </body>
</html>
